#### large files
restaurant-menus.csv
restaurants.csv

#### team logo
DatA_Team.logo.jpg

#### backlog
plan_działania.txt


#### checking if Healthy category will be useful in the project
healthy_categories-checkpoint.ipynb